![](unnamed.png)
<div style = "text-align: center">

# Analisis de datos masivos
## introduccion a las series en pandas

## Nombre Del Docente
### Jose Gabriel Rodriguez Rivas

## Nombre Del Alumno
### Jesus Antonio Santillan Cepeda

</div>

### ¿Puede crear una consulta para mostrar los nombres de los cazadores de tesoros en la tabla colegas?

#### Consulta 

select nombre from coworkers where titulo='Bounty Hunter';

In [1]:
import sqlite3
import pandas as pd
from matplotlib import pyplot as plt

In [5]:
conn = sqlite3.connect('phonebook.db')

cur = conn.cursor()

cur.execute("SELECT * FROM coworkers;")

In [6]:
for row in cur:
    print(row)

(101, 'Han Solo', 'Bounty Hunter', 5556667578)
(102, 'Leia Skywalker', 'Princess', 5556542398)
(103, 'Luke Skywalker', 'Jedi', 5558963267)
(104, 'Obi-Wan Kenobi', 'Jedi', 5558963276)
(105, 'Anakin Skywalker', 'Sith Lord', 5553477621)
(106, 'Jabba The Hutt', 'Gangster', 5556613456)
(107, 'Greedo', 'Debt Collector', 5552360918)
(108, 'R2D2', 'Astro Droid', 5555210125)
(109, 'C3PO', 'Protocol Droid', 5556633345)

### Proporcione el código para consultar los nombres de todas las princesas.

In [9]:
cur.execute("SELECT name FROM coworkers WHERE title='Princess';")
for row in cur:
    print(row)

('Leia Skywalker',)

### Proporcione el código para consultar los nombres de todas las princesas y los recaudadores.

In [10]:
cur.execute("SELECT name FROM coworkers WHERE title='Princess' OR title='Debt Collector';")
for row in cur:
    print(row)

('Leia Skywalker',)
('Greedo',)

### Proporcione el código para consultar los nombres y los números de todos los Jedi.

In [11]:
cur.execute("SELECT name FROM coworkers WHERE title='Jedi';")
for row in cur:
    print(row)

('Luke Skywalker',)
('Obi-Wan Kenobi',)

### Proporcione el código para consultar los nombres de los droids.

In [12]:
cur.execute("SELECT name FROM coworkers WHERE title LIKE '%Droid%';")
for row in cur:
    print(row)

('R2D2',)
('C3PO',)